@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.title {
  font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}


.sidebar {
  top: 0;
  left: 0;
  position: sticky;
  height: 100vh;
  width: 250px;
  background-color: #f26e21;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  padding: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sidebar-header h2 {
  font-size: 2rem;
}


.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0.5rem;
}

.sidebar-nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0.5rem;
}

.sidebar-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-info p {
  margin: 0;
  font-weight: bold;
}



.page-content {
  margin-left: 250px;
  padding: 1rem;
}

.user-info .role{
  font-weight: 200;
}
