.page-container {
  display: flex;
  flex-grow: 1;
  background-color: #FBFDF2;
}

.page-content {
  padding: 16px 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
  gap: 12px;
}

.search-input {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.sort-dropdown {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.category-dropdown {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
