.user-info-card, .change-password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 1rem auto ;
    background-color: white;
    border: 1px solid #f26e21;
    border-radius: 30px;
    padding: 16px 0px;
    align-items: center;
}

.user-info h3{
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.change-password form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}


.change-password h3{
    text-align: center;
    font-size: 2rem;
}

.change-password button{
    padding: 0.5rem 1rem;
    height: fit-content;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    box-shadow: 5px 5px 3px #C8C8C8;
}
.error-message{
    margin: 0;
    color: #C8170C;
}

.change-password button:hover {
  background-color: #fabc60;
}