.page-container{
    display: flex;
    flex-grow: 1;
    background-color: #FBFDF2;
    max-width: 100%;
}

.page-content{
    display: flex;
    padding: 16px 8px;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
}

.table-container{
    flex-grow: 1;
    margin: 1rem;
}

.search-sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}

.search-input {
  padding: 0.5rem;
  width: 50%;
  font-size: 1rem;
}

.sort-dropdown {
  padding: 0.5rem;
  font-size: 1rem;
}

.add-button {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}