.page-container{
    display: flex;
    flex-grow: 1;
    background-color: #FBFDF2;
    max-width: 100%;
}

.page-content{
    display: flex;
    padding: 16px 8px;
    width: 100%;
    margin: 0;
    flex-direction: column;
}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
}

.table-container{
    flex-grow: 1;
    margin: 1rem;
}