@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #FBFDF2;
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: 8px;
  border: 2px solid #F26A1B;
  width: 300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.modal-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-content h2{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.modal-content select{
  padding: 0.5rem 1rem;
  height: 32px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border: 1px solid #F26A1B;
  border-radius: 8px;
  margin: 8px;
}

.modal-content input{
    margin: 8px;
    color: black;
    background-color: white;
    border: 1px solid #F26A1B;
    border-radius: 8px;
    padding: 8px;
}

.modal-content button{
  padding: 0.5rem 1rem;
  width: 6rem;
  height: fit-content;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: 5px 5px 3px #C8C8C8;
}

.modal-content button:hover {
  background-color: #fabc60;
}