.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-input {
  width: 250px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.forgot-password {
  font-size: 0.9rem;
  color: #007bff;
  margin: 10px 0;
  cursor: pointer;
}

.login-button {
  background-color: #ff8800;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  font-size: 1rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: #dd8819;
}
