.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
  font-family: sans-serif;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 16px;
}

.input-group label {
  font-weight: bold;
}

.input-group input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.register-link {
  font-size: 0.85rem;
  color: #555;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.register-link:hover {
  color: #ff9900;
  cursor: pointer;
}

.login-button {
  padding: 0.5rem 1rem;
  width: 200px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  margin-top: 0;
}

.login-button:hover {
  background-color: #96e600;
}