table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 5px 3px #C8C8C8;
  table-layout: auto;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #F4F9DC;
}
tr th{
  background-color: #F4F9DC;
}

th, td {
  padding: 10px 15px;
  border-bottom: 1px solid #000;
  min-width: 50px;
  max-width: 300px;
  word-break: break-word;
  text-align: center;
}

tr:last-child td {
  border-bottom: none;
}

th:first-child {
  border-radius: 20px 0 0 0;
}

th:last-child {
  border-radius: 0 20px 0 0;
}

tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}

tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}

.button{
  padding: 0;
}
