.dashboard-card {
  background-color: white;
  box-shadow: 5px 5px 3px #C8C8C8;
  border-radius: 16px;
  padding: 16px;
  width: 10rem;
  height: 10rem;
  text-align: center;
  border: 2px solid #F26A1B;
  margin: 2rem;
  align-content: center;
}

.dashboard-card-title {
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
}

.dashboard-card-value {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.dashboard-card-label {
  font-size: 0.875rem;
  color: #6b7280;
  margin: auto;
}
