.main-button {
  padding: 0.5rem 1rem;
  width: 200px;
  background-color: #ff9900;
  color: white;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  box-shadow: 5px 5px 3px #C8C8C8;
}

.main-button:hover {
  background-color: #fabc60;
}