button {
    background: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.edit-button{
    color: #4D4D4D;
}
.edit-button:hover{
    color: #707070;
}

.delete-button{
    color: #C11010;
}

.delete-button:hover{
    color: #EE2F2F;
}
